.card{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 20px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 50px;
    background-color: black;
}

.card > a{
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #EF0000;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.card > a:hover{
    background-color: #EF0000;
}

.card > h1{
    color: #EF0000;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}