 div:has( > #profil){
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

#profil{
    display: flex;
    flex-grow: 1;
}

.profilContent{
    width: 100%;
    margin-left: 7.43%;
    margin-right: 7.43%;
    padding-top: 68px;
    margin-bottom: 88px;
}

h1{
    font-size: 48px;
    margin-bottom: 41px;
    font-weight: 600;
}

.name{
    color: #FF0101;
    font-weight: inherit;
}


.container{
    display: flex;
    margin-top: 77px;
}

.info{
    width: 100%;
    display: flex;
    gap : 31px;
}

.chartsContainer{
    min-width:835px ;
    display: flex;
    flex-direction: column;
    gap : 30px;
    flex-grow: 1;
}


.squareCharts{
    min-width:835px ;
    width: 100%;
    display: flex;
    gap : 30px;
}

.stats{
    min-width: 258px;
    gap : 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

@media screen and (max-width: 1439px){
    .info{
        flex-direction: column;
    }
    .stats{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 1024px){
    .chartsContainer{
        width: 63.87%;
    }
    .squareCharts{
        flex-wrap: wrap;
    }

    .profilContent{
        margin-left: 4%;
        margin-right: 0;
    }

    .squareCharts{
        flex-wrap: wrap;
    }
}